#navermap {/* 네이버 지도 */
  z-index: 0;
  position: relative;
}
#selectMain {
  /* 검색창&지도 검색 바 */
  width: 25%;
  padding: 1%;
  z-index: 1;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 3px;
  /*  margin-top: 10%;  */
  outline: none;
  position: relative;
  margin: 1%;
 
}

#searchMain {/* 검색 버튼 */
  width:6%;
  border-radius: 15%;
  z-index: 1;
  position: relative;
  padding:0.5%;
}

fieldset {
  width: 30%;
  border-radius: 1rem 1rem;
  z-index: 1;
  /*border: none;*/
}

