.App {
  text-align: center;
}

#curLocBtn {
  /* "현재위치로 검색" 버튼*/
  width: 20%;
  margin-top: 15%;
  border-radius: 50%;
  padding: 5%;
  background-color: #e4e4e4;
}

input[type="search"] {
  /* 검색 바 */
  width: 60%;
  padding: 1%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 3px;
  /*  margin-top: 10%;  */
  outline: none;
  position: relative;
  z-index: 1;
}

#searchMain {
  /* 검색 버튼  */
  width: 6%;
  padding: 1%;
  border-radius: 30%;
  margin-left: 1%;

}

#Login {
  /* 로그인 버튼 */
  margin-top: 5%;
}

h4 {
  text-align: left;
}
  
/* #bar {         /* search화면 헤더 배경 
  width: 100%;
  background-color: gray;
  padding: 2%;
} */

/* img{
  width: 18%;
  height: 5%;
} */