.App {
  text-align: center;
}

#curLocBtn {
  /* "현재위치로 검색" 버튼*/
  width: 20%;
  margin-top: 15%;
  border-radius: 50%;
  padding: 5%;
  background-color: #e4e4e4;
}

#selectMain {
  /* 검색창&지도 검색 바 */
  width: 25%;
  padding: 1%;
  z-index: 1;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 3px;
  /*  margin-top: 10%;  */
  outline: none;
  position: relative;
  margin:1%;
 
}

 #searchMain {
  /* 메인페이지& 검색 창& 지도 검색 버튼 */
  width: 8%;
  border-radius: 20%;
  z-index: 1;
  position: relative;
  padding: 0.5%;

  border: none;
} 
#Login {
  /* 로그인 버튼 */
  margin-top: 5%;
}

h4 {
  text-align: left;
}

